name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        toolchain: ['1.77', stable]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.runs-on }}

    steps:
    - uses: actions/checkout@v2
    - name: Install ${{ matrix.toolchain }}
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.toolchain }}
        override: true
    - name: Build using MSRV
      run: cp Cargo.lock.msrv Cargo.lock && cargo build --locked --verbose
      if: matrix.toolchain == '1.77'
    - name: Build
      run: cargo build --verbose
      if: matrix.toolchain != '1.77'
    - name: Build (without default features)
      run: cargo build --verbose --no-default-features
      if: matrix.toolchain != '1.77'
  test:
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests (without default features)
      run: cargo test --verbose --no-default-features
    - name: Build benchmarks
      run: cargo bench --no-run --verbose
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: clippy
      run: cargo clippy --verbose -- -Dwarnings
